* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.wegl {
    position: fixed;
}

.text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#instructions {
    margin: 5vh 0 0 0;
}

#predictions {
    margin: 95vh 0 0 0;
}